<template id="navigator-component">
    <style>
		@import "modules/wwi/component/design/host.css";
		:host{
			--navigator-color:var(--squash);
			--navigator-background:rgba(255,255,255,0.5);
			--navigator-bottom-border:1px solid var(--gray);
			--color:var(--navigator-color);
			background:var(--navigator-background);
			display: none;
			height:40px;
			box-sizing: border-box;
			border-bottom:var(--navigator-bottom-border);
		}
		:host([aira-collapsed="true"]){
			display: none;
		}
		:host([aria-collapsed="false"]),:host([show]){
			display: block;
		}
		[container]{
			position: relative;
			height:100%;
			width: calc(100% - 10px);
			padding-left:5px;
			padding-right:5px;
		}

		search-component{
			background:var(--navigator-background);
			left:90px;
			--input-left:-45px;
		}
		[buttons]{
			position: relative;
			width: 90px;
		}
		[center]{
			display: block;
			position: relative;
			width: 100%;
			max-width: calc(100% - 190px);
		}

    </style>
    <div container gui horizontal center-center justified>
	    <div buttons>
		    <navigator-back keep-focus></navigator-back>
		    <navigator-next keep-focus></navigator-next>
	    </div>
	    <div center><slot></slot></div>
	    <div buttons>
		    <slot name="right"></slot>
	    </div>
    </div>
</template>
<script>
    (function(doc){
        const NavigatorComponent = wwi.element(doc).extension(...components.search.extension('Controller'))
	    NavigatorComponent(class extends NavigatorComponent.Element{
        	constructor(){super({show:true})}
	        connected(){
        		if(this.hasAttribute('aria-collapsed') === false) this.aria.collapsed=false
		        if(this.hasAttribute('searches')) {
        			this.field=this.search.field
			        this.results=this.search.results
		        }
		        this.on.searching = e => {
		        	this.all('[role="button"]').forEach(button=>{
				        if(!button.hasAttribute('search-close-button') && !button.hasAttribute('keep-focus')) button.setAttribute('tabindex','-1')
			        })
		        }
		        this.on.done = e => {
			        this.all('[role="button"]').forEach(button=>{
			        	if(!button.hasAttribute('search-close-button') && !button.hasAttribute('keep-focus')) button.setAttribute('tabindex','0')
			        })
		        }

	        }

            
        })

    })(document)
</script>
