
:root,html,:host{
    --ui-background: rgba(255, 255, 255, 0.7);
    --ui-border-color:rgba(50, 50, 50, 0.11);
    --ui-border:1px solid var(--ui-border-color);
    --ui-focused-background:rgba(255, 255, 255, 0.9);
    --ui-radius:9px;

}


[ui-header], [ui-footer] {
    background: transparent;
    will-change: background;
    transition:background 200ms ease;
}

[ui-header] {
    border-radius:var(--ui-radius) var(--ui-radius) 0 0;
    border-bottom:var(--ui-border);
    top: 0;
}


[ui-footer] {
    border-radius:  0 0 var(--ui-radius) var(--ui-radius);
    border-top:var(--ui-border);
    bottom: 0;
}

:host(:hover) [ui-header],
[ui-header]:focus,
[ui-footer]:focus,
[ui-focused]{
    background: var(--ui-focused-background);
    outline: none;
}

:host(:hover) [ui-header] [ui-button],
:host(:focus) [ui-button],
:host(:hover) [ui-button]{
    -webkit-filter: saturate(100%);
    filter:saturate(100%);
}



