:host{
    --title-color:currentColor;
    --wwe-focus-color:var(--focus-color,rgba(90,70,230,1));
    --icon-color: var(--title-color);
    --selected-color:var(--wwe-focus-color);
    --drop-shadow-color: var(--shadow-color,var(--gray-50));
    --box-shadow-color:var(--wwe-focus-color);

    --height: 33px;
    --icon-height:var(--height);
    --icon-width:var(--height);
    --icon-padding:4px;
    --width: auto;
    --radius: 100px;
    --icon-size:calc( var(--height) - 20.15% );

    --box-shadow-weight:1px;
    --box-shadow:inset 0 0 0 var(--box-shadow-weight) var(--title-color, var(--box-shadow-color));
    --drop-shadow:drop-shadow(0 0px 2px var(--shadow-color));

    backface-visibility: hidden;
    background-color: var(--background-color,transparent);
    border-radius: var(--radius);
    box-sizing: border-box;

    cursor: pointer;

    display: inline-block;

    height:var(--height);

    margin:0;

    outline: none;
    overflow: visible;

    position:relative;

    text-rendering: geometricPrecision;
    transition-property: filter, -webkit-filter, opacity, color;
    transition-duration: 180ms;
    transition-timing-function: linear;

    will-change: filter, -webkit-filter, opacity, color;

    width:var(--width);

    z-index: 0;

}

:host([app-icon]),
:host([kind="item"]){
    --radius:7px;
    background-color: white;
}

:host([kind="button"]){
    --width: 33px;
}

:host([kind="item"]){
    --width:100%;
    padding:4px 6px 4px 8px;
    --icon-padding:8px;
}

:host:before{
    content:'';
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    display: block;
    border-radius: inherit;
    box-sizing: inherit;
    z-index: 1;
}

:host:after{
    content:'';
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    display: block;
    border-radius: inherit;
    box-sizing: inherit;
    z-index: 1;
}

:host(:not([kind="item"])):after{
    content:'';
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    display: block;
    background-color: var(--background-color);
    border-radius: inherit;
    box-sizing: inherit;
    z-index: -1;
}


/*states*/
:host(:hover){
    z-index: 1;
    box-shadow:inset 0 0 0 var(--box-shadow-weight) var(--wwe-focus-color);
}

:host(:focus){
    z-index: 1;
    box-shadow:inset 0 0 0 var(--box-shadow-weight) var(--wwe-focus-color), 0 0 2px 0 var(--wwe-focus-color);
}

:host(:active),
:host([aria-selected="true"]){
    background-color: inherit;
    -webkit-filter:var(--active-filter,brightness(0.8));
    filter:var(--active-filter,brightness(0.8));
}


:host([aria-selected="true"]){
    z-index: 1;
    background-color: var(--selected-background-color,white);
    -webkit-filter:var(--selected-filter,drop-shadow(0 1px 2px rgba(90,70,95,0.2)));
    filter:var(--selected-filter,drop-shadow(0 1px 2px rgba(90,70,95,0.2)));
}
:host([aria-selected="true"]):after{   border:1px solid var(--wwe-focus-color);   }


:host([aria-selected="true"]:focus){
    background-color: var(--selected-background-color);
    -webkit-filter:drop-shadow(0 0px 1px var(--selected-focus-color,var(--wwe-focus-color))) drop-shadow(0 2px 3px rgba(60,50,70,0.4));
    filter:drop-shadow(0 0px 1px var(--selected-focus-color,var(--wwe-focus-color))) drop-shadow(0 2px 3px rgba(60,50,70,0.4));
}
:host(:not([kind="item"]):focus):before{
    box-shadow:0 0 1px 1px var(--wwe-focus-color);
    border:1px solid var(--wwe-focus-color);
}




/*icon container*/
[icon-box]{
    position: relative;
    box-sizing: border-box;
    margin:calc(var(--icon-padding) / 2);
    border-radius: inherit;

}
:host(:not([icon])) [icon-box]{
    display: none;
}

/*icon graphic*/
::slotted([design-icon]){
    display:block;
    height: calc( var(--icon-height) - var(--icon-padding) );
    width: calc( var(--icon-width) - var(--icon-padding) );
    position: relative;
    box-sizing: border-box;
    pointer-events: none;
}

::slotted(svg[design-icon]),
::slotted(div[design-icon]){

    fill: var(--icon-color,var(--title-color));
}

:host(:hover) ::slotted([design-icon]){
    -webkit-filter:var(--drop-shadow);
    filter:var(--drop-shadow);
}

:host([disabled]) ::slotted([design-icon]){
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
    opacity: 0.9;
    pointer-events: none;
    cursor: default;
}


/*title container*/
[title]{
    position: relative;
    display: inline-block;
    z-index: 2;
    text-align:left;

}
:host([kind="item"]) [title]{
    top:-0.75px;
}
:host([kind="item"][icon]) [icon-box]{
    margin-left:0;
    margin-right:0;
}
:host([kind="item"][icon]) [title]{
    margin-left:5px;
}