[fade]{ opacity:1; transition: opacity 400ms ease-in-out; will-change: opacity; }
[fade][show]{ opacity:1; }
[fade][hide]{ opacity:0; }

[show-hide]{
    opacity:1;

    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);

    will-change: opacity, transform;

    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;

    -ms-animation: show-view 200ms ease-in-out forwards;
    -moz-animation: show-view 200ms ease-in-out forwards;
    -webkit-animation: show-view 200ms ease-in-out forwards;
    animation: show-view 200ms ease-in-out forwards;

}

[show-hide][show]{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-animation: show-view 200ms ease-in forwards;
    -moz-animation: show-view 200ms ease-in forwards;
    -webkit-animation: show-view 200ms ease-in forwards;
    animation: show-view 200ms ease-in forwards;
}

[show-hide][hide]{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-animation: hide-view 200ms ease-out forwards;
    -moz-animation: hide-view 200ms ease-out forwards;
    -webkit-animation: hide-view 200ms ease-out forwards;
    animation: hide-view 200ms ease-out forwards;
}

@-ms-keyframes show-view {
    0%{
        opacity:0;
        -ms-transform:scale3d(0.9,0.9,1);
        transform:scale3d(0.9,0.9,1);
    }
    100%{
        opacity:1;
        -ms-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1);
    }
}

@-ms-keyframes hide-view {
    0%{
        opacity:1;
        -ms-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1);
    }
    100%{
        opacity:0;
        -ms-transform:scale3d(0.9,0.9,1);
        transform:scale3d(0.9,0.9,1);
    }
}

@-moz-keyframes show-view {
    0%{
        opacity:0;
        -moz-transform:scale3d(0.9,0.9,1);
        transform:scale3d(0.9,0.9,1);
    }
    100%{
        opacity:1;
        -moz-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1);
    }
}

@-moz-keyframes hide-view {
    0%{
        opacity:1;
        -moz-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1);
    }
    100%{
        opacity:0;
        -moz-transform:scale3d(0.9,0.9,1);
        transform:scale3d(0.9,0.9,1);
    }
}

@-webkit-keyframes show-view {
    0%{
        opacity:0;
        -webkit-transform:scale3d(0.9,0.9,1);
        transform:scale3d(0.9,0.9,1);
    }
    100%{
        opacity:1;
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1);
    }
}

@-webkit-keyframes hide-view {
    0%{
        opacity:1;
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1);

    }
    100%{
        opacity:0;
        -webkit-transform:scale3d(0.9,0.9,1);
        transform:scale3d(0.9,0.9,1);
    }
}


@keyframes show-view {
    0%{
        opacity:0;
        transform:scale3d(0.9,0.9,1);
    }
    100%{
        opacity:1;
        transform:scale3d(1,1,1);
    }
}

@keyframes hide-view {
    0%{
        opacity:1;
        transform:scale3d(1,1,1);
    }
    100%{
        opacity:0;
        transform:scale3d(0.9,0.9,1);
    }
}