
html{
    /*options of app*/

    --html-text-color:var(--dark,black);

    --html-label-color:var(--saphire);
    --html-label-radius:0.3rem;
    --html-input-radius:0.42rem;
    --html-button-radius:1rem;


    --html-focus-background:white;
    --html-focus-shadow:0 0 0 7px var(--html-focus-background),0 0 0 9px;

}

a{
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    color:var(--anchor-color,var(--html-label-color));
    outline: none;
}
a:focus{
    transition:var(--anchor-transition,all 200ms ease);
    box-shadow: var(--anchor-focus-shadow,var(--html-focus-shadow));
    border-radius: var(--anchor-focus-radius,var(--html-label-radius));
    background: var(--anchor-focus-background,var(--html-focus-background));
    z-index: 10;
}
a:hover{  text-decoration: underline;  }
a:active{
    color:var(--anchor-dark-color,var(--saphire-dark));
    text-decoration: underline;
}
a:visited{  color:var(--anchor-dark-color,var(--saphire-dark));  }

button, input{
    -webkit-appearance: none;
    appearance:none;
    box-sizing: border-box;
    outline: none;
    border-radius: var(--html-button-radius);

    font-size: 0.9em;

    border-width: 0;
    transition-property: background, box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 180ms;
    will-change: background, box-shadow;
}

button{
    cursor: pointer;
    font-weight: 900;
    color:var(--html-label-color);
    background: white;
}
button:hover{
    border-color:var(--button-hover-border-color,white);
    box-shadow: 0 0 0px 1px;
}
button:focus{
    border-color:currentColor;
    box-shadow: 0 0 10px 2px;
}
button:active{
    border-color:var(--button-pressed-border-color,currentColor);
    background:var(--button-pressed-background,initial);
    box-shadow: 0 0 2px 0;
}

input{
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--html-text-color);
    padding-left:0.55rem;
    padding-top:0.35rem;
    padding-bottom: 0.33rem;
    border-radius: var(--html-input-radius);
    font-size:0.8em;
}
input[medium]{
    padding-left:0.7rem;
    padding-top:0.64rem;
    padding-bottom: 0.58rem;
    font-size:1em;
}
input[large]{
    padding-left:1rem;
    padding-top:1rem;
    padding-bottom: 0.98rem;
    font-size:1em;
    font-weight: lighter;
}
input[type=search]{
    padding-right:1px;
}
input:focus{ background: rgba(255, 255, 255, 1); }

[input-box]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
[input-box] > *{
    border-radius: 0;
}
[input-box] > *:first-child:not(:last-child){
    border-radius: var(--html-input-radius);
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
[input-box] > *:last-child:not(:first-child){
    border-radius: var(--html-input-radius);
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
[input-box] > [type=button]:last-child:not(:first-child){
    font-weight: lighter;
}

[input-box][split] > * + *{
    margin-left:0.05rem;
}

[aria-pressed="true"]{
    border-color:var(--button-pressed-border-color,white);
    box-shadow:0 0 0 1.5px;
}
[aria-grabbed="false"]{ cursor: move; cursor: grab; cursor: -moz-grab; cursor: -webkit-grab;  }
[aria-grabbed="true"]{  cursor: grabbing; cursor: -moz-grabbing; cursor: -webkit-grabbing;  }


