[block]{ display: block; }
[inline]{ display: inline-block; }

[absolute]{ position: absolute; }
[relative]{ position: relative; }
[fixed]{ position: fixed; }

[hidden]{ display: none !important; }
[invisible]{ visibility: hidden !important; }
[visible]{ visibility: visible; }

[gui][horizontal], [gui][vertical]{ display: -ms-flexbox; display: -webkit-flex; display: flex; }
[gui][inline]{ display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex; }
[gui][horizontal]{ -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }
[gui][vertical]{ -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }
[gui][wrap]{ -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
[gui][no-wrap]{ -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }
[gui][center], [gui][center-center]{ -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
[gui][center-justified], [gui][center-center]{ -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

[flex]{ -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }
[flex-auto]{ -ms-flex: 1 1 auto; -webkit-flex: 1 1 auto; flex: 1 1 auto; }
[flex-none]{ -ms-flex: none; -webkit-flex: none; flex: none; }

[gui][horizontal-reverse], [gui][vertical-reverse]{ display: -ms-flexbox; display: -webkit-flex; display: flex; }
[gui][horizontal-reverse]{ -ms-flex-direction: row-reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }
[gui][vertical-reverse]{ -ms-flex-direction: column-reverse; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }
[gui][wrap-reverse]{ -ms-flex-wrap: wrap-reverse; -webkit-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
[gui][start]{ -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; }
[gui][center],
[gui][center-center]{ -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
[gui][end]{ -ms-flex-align: end; -webkit-align-items: flex-end; align-items: flex-end; }
[gui][baseline]{ -ms-flex-align: baseline; -webkit-align-items: baseline; align-items: baseline; }
[gui][start-justified]{ -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; }
[gui][center-justified],
[gui][center-center]{ -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }
[gui][end-justified]{ -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }
[gui][around-justified], [gui][around]{ -ms-flex-pack: distribute; -webkit-justify-content: space-around; justify-content: space-around; }
[gui][justified]{ -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

[self-start]{ -ms-align-self: flex-start; -webkit-align-self: flex-start; align-self: flex-start; }
[self-center]{ -ms-align-self: center; -webkit-align-self: center; align-self: center; }
[self-end]{ -ms-align-self: flex-end; -webkit-align-self: flex-end; align-self: flex-end; }
[self-stretch]{ -ms-align-self: stretch; -webkit-align-self: stretch; align-self: stretch; }
[self-baseline]{ -ms-align-self: baseline; -webkit-align-self: baseline; align-self: baseline; }

[gui][start-aligned]{ -ms-flex-line-pack: start; -ms-align-content: flex-start; -webkit-align-content: flex-start; align-content: flex-start; }
[gui][end-aligned]{ -ms-flex-line-pack: end; -ms-align-content: flex-end; -webkit-align-content: flex-end; align-content: flex-end; }
[gui][center-aligned]{ -ms-flex-line-pack: center; -ms-align-content: center; -webkit-align-content: center; align-content: center; }
[gui][between-aligned]{ -ms-flex-line-pack: justify; -ms-align-content: space-between; -webkit-align-content: space-between; align-content: space-between; }
[gui][around-aligned]{ -ms-flex-line-pack: distribute; -ms-align-content: space-around; -webkit-align-content: space-around; align-content: space-around; }

[flex],[flex-1]{ -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }
[flex-2]{ -ms-flex: 2; -webkit-flex: 2; flex: 2; }
[flex-3]{ -ms-flex: 3; -webkit-flex: 3; flex: 3; }
[flex-4]{ -ms-flex: 4; -webkit-flex: 4; flex: 4; }
[flex-5]{ -ms-flex: 5; -webkit-flex: 5; flex: 5; }
[flex-6]{ -ms-flex: 6; -webkit-flex: 6; flex: 6; }
[flex-7]{ -ms-flex: 7; -webkit-flex: 7; flex: 7; }
[flex-8]{ -ms-flex: 8; -webkit-flex: 8; flex: 8; }
[flex-9]{ -ms-flex: 9; -webkit-flex: 9; flex: 9; }
[flex-10]{ -ms-flex: 10; -webkit-flex: 10; flex: 10; }
[flex-11]{ -ms-flex: 11; -webkit-flex: 11; flex: 11; }
[flex-12]{ -ms-flex: 12; -webkit-flex: 12; flex: 12; }
[flex-13]{ -ms-flex: 13; -webkit-flex: 13; flex: 13; }
[flex-14]{ -ms-flex: 14; -webkit-flex: 14; flex: 14; }
[flex-max],[flex-15]{ -ms-flex: 15; -webkit-flex: 15; flex: 15; }

[gui][top]{ top: 0; }
[gui][right]{ right: 0; }
[gui][bottom]{ bottom: 0; }
[gui][left]{ left: 0; }

[gui][disabled]{ opacity:0.8; -webkit-filter:saturate(0); filter:saturate(0); pointer-events: none; cursor: default; }

[fullbleed]{ margin: 0; height: 100vh; }
[gui][fit]{ position:absolute; top:0; left:0; right:0; bottom:0; }

[scroll-none]{ overflow: hidden; }
[scroll-x]{ -webkit-overflow-scrolling: touch; overflow: hidden; overflow-x:auto; }
[scroll-y]{ -webkit-overflow-scrolling: touch; overflow: hidden; overflow-y:auto; }
[scroll-auto]{ -webkit-overflow-scrolling: touch; overflow: auto; }

[sudo][before]:before, [sudo][after]:before{ content:''; position:absolute; top:0; left:0; right:0; bottom:0; display: block; border-radius: inherit; box-sizing: border-box; }
[sudo][bg] > *{ z-index: 1; }
[sudo][before][bg]:before, [sudo][after][bg]:after{ background: inherit; z-index: -1; }

[drag-handle],[draggable]{ cursor: move; cursor: grab; cursor: -moz-grab; cursor: -webkit-grab; }
[drag-handle]:active,
[draggable]:active{ cursor: grabbing; cursor: -moz-grabbing; cursor: -webkit-grabbing; }

[select-none]{ -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
[select-text]{ -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }
[select-all]{ -ms-user-select: element; -moz-user-select: all; user-select: all; }
[select-content]{ -ms-user-select: element; -moz-user-select: all; user-select: contain; }

[pointer]{ pointer-events: auto; cursor: default; }
[pointer-none]{ pointer-events: none; }

[view]{
    min-height: 100%;
    position: relative;
    width: 100%;
}

[translate]{
    opacity: 1;
    -moz-transform-origin: center center; -ms-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center;
    -moz-transform-style: preserve-3d;  -ms-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
    transition-duration: 200ms;
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    will-change: transform, opacity;
}

