@import "attr.css";
@import "aria.css";
@import "colors.css";
@import "scrollbar.css";

html, body{ color: #202020; font-size: 16px; }
body {
    min-height: 100vh;
    margin: 0;
    position: relative;
    width: 100%;
}
body{ -moz-perspective: 1000px; -ms-perspective: 1000px; -webkit-perspective: 1000px; perspective:1000px; }
body *{ -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

