body::-webkit-scrollbar { height: 13px; overflow: visible; width: 13px; }
body::-webkit-scrollbar-button { height: 0; width: 0; }
body::-webkit-scrollbar-corner { background: rgba(0, 0, 0, 0); }
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid rgba(0, 0, 0, 0);
    min-height: 28px;
    padding: 100px 0 0;
    border-radius: 100px;
    box-shadow: inset 0px 0px 0 1px rgba(255, 255, 255, .1), inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);

}
body::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid rgba(0, 0, 0, 0);
    border-width: 0 0 0 4px;
}
body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: rgba(245, 245, 245, 0.47);
    border: solid rgba(245, 245, 245, 0.47);
    border-width: 0 0 0 3px;
}


[scroll-none]{ overflow: hidden; }
[scroll-x]{ -webkit-overflow-scrolling: touch; overflow: hidden; overflow-x:auto; }
[scroll-y]{ -webkit-overflow-scrolling: touch; overflow: hidden; overflow-y:auto; }
[scroll-auto]{ -webkit-overflow-scrolling: touch; overflow: auto; }