<template id="sticky-list">
	<style>
		:host {  display: block;  }
	</style>
	<div view></div>
</template>
<script>
	(function (doc) {

		const Sticky = wwi.element(doc).extension({name:'Selector',module:'behavior'},{name:'Mix',module:'sticky'})

		const resize_data = Symbol('sticky list resize data')
		Sticky(class extends Sticky.Element{
			constructor(){
				super('routes',{
					offsetTop:true,
					sort(value){
						value = value === null ? false : value
						this.update('sort', value)
					}
				})
			}
			list_connected(){
				this.item_selector_options = {item:'sticky-item',query:true}
				this.on('selected',e => on_item_selected(this,e))
				window.app.on('resized',()=>resize_scroll(this))
			}
			count(key) {
				if (key in this) {
					let value = this[key]
					if (Array.isArray(value)) return value.length
					else if (value instanceof Set || value instanceof Map) return value.size
				}
				return -1
			}
			get verbose() {return this.hasAttribute('verbose')}
		})


		function get_resize_data(list){
			if(resize_data in list) return list[resize_data]
			return list[resize_data] = {
				resizing:false,
				scroll_top:list.scrollTop,
				timer:null
			}
		}

		function on_item_selected(list,e){
			list.item_selected(e.detail)

		}

		function resize_scroll(list){
			let data = get_resize_data(list)
			if(data.resizing === false){
				data.resizing = true
				data.scroll_top = list.scrollTop
			}
			list.update_scroll_top = update_scroll_top
			if(typeof data.timer === 'number') window.clearTimeout(data.timer)
			data.timer = window.setTimeout(()=>{
				data.timer=null
				list.update('items',200)
			},200)
			function update_scroll_top(controller){
				controller.update_scroll(data.scroll_top)
				data.resizing = false
			}
		}

	})(document)
</script>