.cm-s-neat span.cm-comment { color: #fe2a45; font-weight: 600; letter-spacing: 0; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
.cm-s-neat span.cm-keyword {
    line-height: 1em; color: #344b95;
    font-style: italic;
    font-family: "Arial Rounded MT Bold";
    letter-spacing: 1px;
}
.cm-s-neat span.cm-string { color: #48718f; }
.cm-s-neat span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
.cm-s-neat span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-neat span.cm-variable { color: #a86; }
.cm-s-neat span.cm-number{ color: rgb(116, 47, 196); font-weight: bold;  }
.cm-s-neat span.cm-atom { color: #4974ff;
    font-family: "Arial Rounded MT Bold";
    letter-spacing: 0;
}
.cm-s-neat span.cm-attribute{ color: rgb(90, 120, 139); font-weight: 600; letter-spacing: 0;}
.cm-s-neat span.cm-property{ color: rgb(122, 139, 156);  font-style: italic; font-family: "PT Serif"; text-rendering: auto; }
.cm-s-neat span.cm-meta { color: #555; }
.cm-s-neat span.cm-link { color: #3a3; }

.cm-s-neat .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-neat .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }
