<template id="list-11-template">
	<style>
		:host{
			display: block;
			position: relative;
			background-color: #f3f3f3;
		}
		#view{
			display: block;
			position: relative;
			width: 100%;
			max-height: 100%;
			overflow:hidden;
			overflow-y: auto;
		}

		#items::slotted(*){
			display: block;
			padding:5px;
			border-bottom: 1px solid rgba(200,200,200,0.5);
		}

		#items::slotted(*:hover){
			cursor: pointer;
			box-shadow: inset 0 0 0 1px dodgerblue;
			color:dodgerblue;
		}

		#items::slotted(*:focus){
			box-shadow: inset 0 0 0 1px dodgerblue;
			color:dodgerblue;
		}

		#items::slotted(*:active){
			background: #50a3ff;
			color:white;
		}

		#items::slotted([active]){
			background: dodgerblue;
			color:white;
		}

	</style>


	<div id="view">
		<slot id="items" name="item"></slot>
	</div>

</template>

<script>
	((doc)=>{

		const List = wwi.element(doc,'a11y')

		class ListElement extends List.Element{

			a11y_connected(ally){
				let items = new Set(this.items)
				for(let item of items){
					ally.add(item)
				}
			}
			a11y_disconnected(disconnected){
				console.log({disconnected})
			}
			connected(s,is){
				this.kind = 'list'
				if(!this.id) this.id = `a11y_${this.kind}`
			}
			click(e){
				console.groupCollapsed(this.id)
				console.log(this)
				console.dir(this)
				console.log(e)
				console.groupEnd()
			}

			get items(){
				return this.slots.item.targets
			}
		}

		List(ListElement)


		//				ally.on('click',this.click.bind(this))
		//				let type = ally.type

	})(document)
</script>