<template id="search-component">
	<style>
		@import "components/search/design/search.css";
		:host{
			display: none;
			top:0;
			position: absolute;
			right:0;
			left:0;
			height:var(--height,40px);
			max-height: 100%;
			max-width: 100%;
		}

		:host([aria-expanded="true"]){
			display: block;
			z-index: 1000;
			animation:slide-down 250ms  forwards;
		}

		:host([aria-expanded="false"]){
			display: block;
			z-index: 1000;
			animation:slide-up 250ms forwards;
		}

		:host::before{
			content:'';
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background:var(--navigator-background,rgba(255,255,255,0.4));
			z-index: -1;
		}

		[view]{
			max-height:none;
			padding-left:10px;
			padding-right:10px;
			max-width: calc(100% - 20px);
			z-index: 1;
		}

		input:focus{
			box-shadow:0 0 0.5px var(--color,var(--azul-bright));
			border-color:var(--color,var(--azul-bright));
		}
		[buttons]{
			display: inline-block;
			position: absolute;
			right:10px;
			height:100%;
		}

		@keyframes slide-down{
			0%{
				transform:translate3d(0,-100%,0);
			}
			100% {
				transform: translate3d(0, 0, 0);
			}
		}
		@keyframes slide-up{
			0%{
				transform:translate3d(0,0,0);
			}
			100% {
				transform: translate3d(0, -100%, 0);
			}
		}


	</style>
	<div view gui horizontal center-center>
		<input aria-autocomplete="list"
		       aria-expanded="false"
		       aria-labelledby="search-input-1"
		       aria-owns="search-results-1"
		       aria-label="Search"
		       autocomplete="off"
		       dir="auto"
		       id="search-input-1"
		       placeholder="Search..."
		       role="combobox"
		       spellcheck="false"
		       tabindex="0"
		       type="search">

		<div buttons gui horizontal center-center>
			<slot name="clear-button"></slot>
			<slot name="close-button"></slot>
		</div>
	</div>

</template>
<script>
	(function(doc){
		let extension = [{module:'behavior', name:'Timeout'}]
		const SearchComponent = wwi.element(doc).extension(...extension)
		SearchComponent(class extends SearchComponent.Element{
			constructor(){
				super('routes',{
					expanded(value){ return this.expand(value) },
					placeholder(value){
						if(value !== null) this.input.setAttribute('placeholder',value)
					},
					label(value){
						if(value !== null) this.input.setAttribute('aria-label',value)
					}
				})
			}
			get button(){ return get_button(this) }
			set button(value){ return set_button(this,value)}
			get close_button(){ return this.slots['close-button'].item }
			connected(){
				this.input.onkeyup = e => !this.empty ? this.timeout(()=>this.dispatch('search',this.detail())):false
				this.input.onsearch = e => this.timeout(()=>this.dispatch('search',this.detail()))
				this.query('slot[name="close-button"]').addEventListener('slotchange',e=>{
					this.close_button.addEventListener('clear',e=>this.expanded=false)
					this.close_button.addEventListener('close',e=>this.expanded=false)
				},false)
			}
			detail(){
				return {
					get create(){ return get_create(this) },
					keywords:this.keywords
				}
			}
			get empty(){ return this.value.length <= 0}
			expand(value){ return value === null ? collapse(this):expand(this) }
			get input(){ return this.query('input') }
			get keywords(){ return !this.empty ? this.value.split(' ').map(word=>word.trim()).filter(word=>word.length):[] }
			toggle(){
				this.expanded = !this.expanded
				return this
			}
			get value(){ return this.input.value.trim() }
		})
		//shared actions
		function collapse(element){
			element.parentElement.style.overflow='hidden'
			element.setAttribute('aria-expanded','false')
			element.input.setAttribute('tabindex','-1')
			element.button.style.opacity=1
			element.timeout(()=>{
				element.style.display='none'
				element.parentElement.style.overflow=''
				element.input.onfocus=null
			},300)
			element.dispatch('done')
			element.results.hide()
			return element
		}

		function expand(element){
			element.button.style.opacity=0
			element.parentElement.style.overflow='hidden'
			element.style.display=''
			element.setAttribute('aria-expanded','true')
			element.input.setAttribute('tabindex','0')
			element.input.focus()
			element.dispatch('searching')
			element.results.target=element
			element.timeout(()=>{

				element.parentElement.style.overflow=''
				element.input.onfocus = on_focus
			},350)

			//shared actions
			function on_focus(){
				if(element.empty) element.results.hide()
				else{
					let not_expanded = element.expanded && element.results.getAttribute('aria-expanded') !== 'true'
					if(not_expanded) element.results.show()
				}

			}
		}

		function get_button(element){
			let symbol = Symbol.for('search button')
			if(symbol in element) return element[symbol]
			return null
		}

		function get_create(element){
			return new(fxy.require('search/Data'))(element)
		}

		function set_button(element,button){
			let symbol = Symbol.for('search button')
			button.addEventListener('search',e=>element.toggle())
			return element[symbol] = button
		}


	})(document)
</script>
