<template id="drop-file">
    <style>
        @import "modules/wwi/component/design/host.css";
        :host{
	        --padding:10px;
	        --width:100%;
            display:block;
	        position: relative;
	        width: calc(var(--width) - var(--padding));
        }
        progress{
	        display: none;
        }
        :host([loading]) progress{
	        display: block;
        }
	    [error]{
		    color:var(--pepper);
		    font-weight: normal;
		    padding:20px;
		    background: var(--clean-bright);
	    }
    </style>
    <div view>
	    <div error style="display:none"></div>
        <div>${title}</div>

	    <progress value="0" max="100"></progress>
    </div>
</template>
<script>
    (function(doc){
        const DropFile = wwi.element(doc).extension({module:'behavior',name:'Bind'})
        DropFile(class extends DropFile.Element{
            constructor(){
            	super('routes',{
            		as:true,
		            loading:true,
            		file(value){
            			if(value !== null) this.set(value)
			            else this.delete()
		            }
	            })

            }

            get error(){ return this.query('[error]') }
            get progress(){ return this.query('progress') }
            route(data){
            	console.log(data)
            	switch(data.type){
		            case 'loading':
		            case 'waiting':
		            	this.loading = true
			            console.log(data.file.loaded)
//			            this.progress.setAttribute('value',data.value)
			            this.progress.value = data.value
		            	break
		            case 'finished':
		            	this.loading=false
//			            this.progress.value = data.value
		            	break
	            }
            }
	        set(file){
            	if(fxy.is.data(file) !== true || this.loading || this.value) return
            	this.setAttribute('name',fxy.id.dash(file.name))
            	let as_type = this.as || 'text'
		        let read = file.as[as_type]
		        if(read){
            		read.then(data=>{
			            this.value = data.value
			            this.dispatch('file data',data)
			            if(this.delete_on_finish) this.delete()
		            }).catch(error=>{
		            	this.error.style.display='block'
		            	this.error.innerHTML = error.message
		            })
		        }
				this.bind(file)
	        }
	        delete(){
				this.style.transition = 'opacity 200ms ease'
		        this.style.opacity = 0
		        setTimeout(()=>{
					this.remove()
		        },220)
	        }
        })
    })(document)
</script>
