<template id="shiny-item-template">
	<style>
		:host{
			position: relative;
			display: block;
			cursor: pointer;
			text-rendering: geometricPrecision;
			backface-visibility: hidden;
			background-color: dodgerblue;
			overflow: hidden;
			color:white;
			font-weight: 600;
			margin: 3px 10px 5px 7px;
			border-radius: 7px;
		}


		#view{
			position: relative;
			display: block;
			padding: 0 16px;
			text-decoration: none;
			line-height: 40px;
		}
		paper-ripple {
			color: #ffffff;
		}

		:host([opened]){
			-webkit-filter: contrast(105%)  brightness(1.4);
			filter: contrast(105%)  brightness(1.4);
		}

	</style>
	<div id="view">
		<slot></slot>
	</div>
</template>
<script>
	((doc)=>{
		const Shiny = wwi.element(doc)
		class ShinyItem extends Shiny.Element{
			get view(){ return this.shadow.querySelector('#view') }
			connected(){
				this.define({'opened':true})
				this.view.appendChild(document.createElement('paper-ripple'))
			}
		}
		Shiny(ShinyItem)
	})(document)
</script>

