<template id="frame-component">
    <style>
        @import "modules/wwi/component/design/host.css";
        :host{
			contain: content;
	        --frame-sides:var(--sides,1%);
	        --frame-size:calc(100% - (2 * var(--frame-sides) ));
	        --frame-toolbar-height:var(--toolbar-height,40px);
	        --frame-height:calc(var(--frame-size) - var(--frame-toolbar-height));
	        --frame-top:calc(var(--frame-toolbar-height) + var(--frame-sides));
			--frame-radius:7px;
	        display: none;
	        position: absolute;
	        box-shadow: 0 1px 19px rgba(0,0,0,0.3);
	        box-sizing: border-box;
	        padding:1px;
	        margin:0 auto;
	        top:var(--top,var(--frame-top));
	        width:var(--width,var(--frame-size));
	        left:var(--left,var(--frame-sides));
	        height: var(--height,var(--frame-height));
	        z-index:1;
	        border-radius: var(--radius,var(--frame-radius));
	        overflow: hidden;
        }
        :host([full]){
	        top:0;
	        left:0;
	        height: 100%;
	        width: 100%;
	        position: relative;
	        box-shadow: none;
	        border-radius: 0;
        }
        :host([aria-expanded="false"]){
	        display: none;
        }
	    :host([aria-expanded="true"]){
		    display: block;
	    }
	    iframe{
		    border:none;
		    border-radius: var(--radius,var(--frame-radius));
		    overflow: hidden;
	    }
	    :host([selectable]){
		    cursor: pointer;
		    pointer-events: auto;
	    }
        :host([selectable]) iframe{
	        pointer-events: none;
        }
        :host([selectable][aria-selected="true"]) iframe{
	        pointer-events: auto;
        }
    </style>
	<iframe view></iframe>

</template>
<script>
    (function(doc){
        const FrameComponent = wwi.element(doc)
	    FrameComponent(class extends FrameComponent.Element{
        	constructor(){
        		super('routes',{
        			loaded:true,
        			opened(value){
        				if(value === null) this.hide()
				        else this.show()
			        },
			        selectable:true,
			        url(value){
        				if(value) this.view.src = value
			        }
		        })
	        }
	        connected(){
		        this.setAttribute('aria-expanded','false')
		        this.view.onload = e =>{
		        	this.loaded = true
		        	this.dispatch('loaded',this)
		        }
	        }
            hide(){
        		let button = this.button
	            if (button && 'aria' in button) button.aria.selected = false
	            this.aria.expanded = false
            }
	        show(){
		        let button = this.button
		        if (button && 'aria' in button) button.aria.selected = false
		        this.aria.expanded = true
	        }
	        get view(){ return this.query('iframe') }
        })


    })(document)
</script>
