@import "host.css";
:host {
    display: block;
    position: relative;
    box-sizing: border-box;
    line-height: normal;
    border: 16px solid var(--outline-color,rgba(55, 55, 59, 0.98));
    border-radius: 23%;
    background-color: rgba(250, 250, 253, 0.85);
    -webkit-filter: drop-shadow(0px 1px 2px rgba(140, 140, 150, 0.2));
    filter: drop-shadow(0px 1px 2px rgba(140, 140, 150, 0.2));
    height:100%;
    width: 100%;
}



[view] {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
}

[view] > div {
    display: block;
    position: relative;
    text-align: center;
    text-indent: 0;
    white-space: nowrap;
    margin: 0 auto;
    overflow: hidden;
}



[year] {
    color: var(--text-color,var(--day));
    font-size: 8%;
    height: 10%;
    line-height: 1;
}



[month] {
    color: var(--dot-color,white);
    font-size: 14%;
    height: 18%;
    line-height: 1;
}



[day] {
    font-size: 62%;
    height: 67%;
    line-height: 0.88;
    color: rgba(55, 55, 59, 0.98);
}



[line] {
    height: 2.5%;
}




:host-context([is-button]) [view] {
    padding-top: 1px;
}

:host-context([is-button]) [line]{
    height: 1%;
}

:host-context([is-button]) [year] {
    height: 14%;
    top:-1px;
    color: var(--text-color,rgba(155, 145, 155, 1));
}

:host-context([is-button]) [day] {
    height: 55%;
    margin-top:2.5%;
}
:host-context([is-button]) [month]{

    height: 20%;
    font-weight: 600;
    color: white;


}