@import "design.css";

:host{
    height:var(--height,24px);
    cursor:pointer;
}
[checkbox-container],[icon-container]{
    position:relative;
    pointer-events:auto;
    height:var(--height,24px);
    overflow: hidden;
}

[checkbox-container]{
    padding-right:var(--height,24px);
    z-index:0;
}

[icon-container]{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    height:var(--height,24px);
    width:100%;
    left:0;
    z-index:2;
    cursor:pointer;
 }

fieldset{
    border: none;
    position:relative;
    max-height: 100%;
    box-sizing: border-box;
    padding:0;
    overflow: hidden;
    z-index: 0;
}

label{
    display:inline-block;
    box-sizing: border-box;
    position: relative;
    text-align:left;
    font-size:12px;
    overflow: hidden;
    color:var(--label-color,rgb(100,100,100));
    font-style: italic;
}

input{
    box-sizing: border-box;
    position: relative;
}

content-icon{

    height:var(--icon-size,22px);
    width:var(--icon-size,22px);
}



:host([icons]) input{
    display:none;
}

[checked-icon]{
    display:none;
}

:host([checked]) [checked-icon]{
    display:block;
}

:host([checked]) [unchecked-icon]{
    display:none;
}
