:host{
    --drawer-background:var(--violet-fuchsia-bg);
    --text:var(--violet);
    --focus-color:var(--bubblegum-bright);
    --menu-item-background-color: var(--grape-50);
    --menu-item-color: var(--day);
}
[app-drawer] [action-item]{
    --action-radius:100px;
    --action-font-weight:900;
    text-rendering: geometricPrecision;
}