:host{
    --bar-color:white;
    --text:var(--blue-dark);
    --focus-color:var(--blue-dark);
    --menu-background-color: var(--bar-color);
    --menu-item-color: var(--blue-dark);
    --menu-item-focus-color: var(--blue-dark);
}
[app-drawer] :not([grid]) [action-item]{
    border-radius: 5px;
}