@import "index.css";

/* animation */
@-webkit-keyframes slide-from-top {
    0% {
        opacity:var(--opacity-from);
        -wekit-transform: translate3d(0,-20vh,0);
        transform: translate3d(0,-20vh,0);
    }
    100%{
        opacity:var(--opacity-to);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-moz-keyframes slide-from-top {
    0% {
        opacity:var(--opacity-from);
        -moz-transform: translate3d(0,-20vh,0);
        transform: translate3d(0,-20vh,0);
    }
    100%{
        opacity:var(--opacity-to);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-ms-keyframes slide-from-top {
    0% {
        opacity:var(--opacity-from);
        -ms-transform: translate3d(0,-20vh,0);
        transform: translate3d(0,-20vh,0);
    }
    100%{
        opacity:var(--opacity-to);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-o-keyframes slide-from-top {
    0% {
        opacity:var(--opacity-from);
        -o-transform: translate3d(0,-20vh,0);
        transform: translate3d(0,-20vh,0);
    }
    100%{
        opacity:var(--opacity-to);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-from-top {
    0% {
        opacity:var(--opacity-from);
        -o-transform: translate3d(0,-20vh,0);
        transform: translate3d(0,-20vh,0);
    }
    100%{
        opacity:var(--opacity-to);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}