<template id="app-bar-template">
	<style>
		@import "/api/modules/wwi/component/design/gui.css";
		:host{
			--bar-color: var(--app-color);
			--bar-padding: 10px;
			--bar-width: calc(100% - (var(--bar-padding) * 2));
			--bar-height: 40px;
			--height: 40px;
			--max-height: calc( var(--height) - 17% );
			--bar-text: white;
			--bar-z: 10;

			/*app-bar*/
			background-color: var(--bar-color);
			box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3);
			color: var(--bar-text);
			display: block;
			height: var(--bar-height);
			left:0px;
			position: relative;
			top:0px;
			width:100%;
			z-index: var(--bar-z);
		}

		[view]{
			padding-left: var(--bar-padding);
			padding-right: var(--bar-padding);
		}

		[view] > div{
			display: inline-block;
			box-sizing: border-box;
			position: relative;
		}

		/*aside*/
		[name="aside"]::slotted([role="button"]){
			top: -0.005em;
		}

		/*title*/
		[title]{
			font-size:23px;
			font-weight: 900;
			top: -0.01em;
			text-indent: 3px;
			text-rendering: geometricPrecision;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			cursor: pointer;
		}

		/*nav*/
		[name="nav"]::slotted([role="button"]){
			margin-left:3px;
			margin-right:3px;
		}

	</style>

	<div view gui horizontal fit>
		<div aside gui horizontal center-center>
			<slot name="aside"></slot>
			<div title gui relative vertical center-center></div>
		</div>
		<div nav gui horizontal self-center center-center around-aligned>
			<slot name="nav"></slot>
		</div>
	</div>

</template>


<script>
	((doc)=>{
		const Bar = wwi.element(doc)
		Bar(class AppBar extends Bar.Element{
			constructor(){ super({appTitle:true,appHash:true}) }
			get aside_button(){ return this.slots['aside'].target }
			get app_title(){ return this.query('[title]') }
			changed(name,old,value){
				switch(name){
					case 'app-title':
						if(fxy.is.text(value)) this.app_title.innerHTML = value
						break
				}
			}
			app_title_click(e){
				if(this.appHash){
					window.location.hash = this.appHash
				}else{
					window.location.reload()
				}
			}
			connected(s,is){
				if(this.has('app-title')) this.appTitle = this.get('app-title')
				this.at('app-bar', 'gui', 'horizontal', 'center')
				this.app_title.addEventListener('click',this.app_title_click.bind(this),false)
			}
		})
	})(document)

</script>


