@import "animation.css";
@import "attr.css";
@import "colors.css";
@import "scrollbar.css";
@import "text.css";

html, body{ color: #202020; font-size: 16px; }
body {
    min-height: 100vh;
    margin: 0;
    position: relative;
    width: 100%;
}
body{ -moz-perspective: 1000px; -ms-perspective: 1000px; -webkit-perspective: 1000px; perspective:1000px; }
body *{ -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

a{ color: #4b75ff; outline: none; box-sizing: border-box; cursor: pointer; text-decoration: none; }
a:hover, a:focus, [role="button"]:hover a, [role="button"]:focus a{ text-decoration: underline; }
a:visited{ color: #0b6bd6; }

[pages] {
    box-sizing: border-box;
    display: block;
    height: 100%;
    max-width: 100vw;
    position: relative;
    z-index: 1;
}

[full-page]{ width: 100vw; min-height: 100vh; }
[full-page][back]{ z-index: 0; }
[full-page][top]{ z-index: 10; }