:host{
    display: block;
    overflow: hidden;
    position: absolute;
    top:0;left:0;right:0;
    width: 100%;
    min-height: 100%;
    background-size:cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: background;
    will-change: background;
    z-index: -1;
}

:host([color]):before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 100%;
    z-index: 0;
    display: block;
    background-color:inherit;
}