<link rel="import" href="/main/bower_components/polymer/polymer.html">
<link rel="import" href="/main/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">


<script>
	Polymer.KSReadToolBehavior = {
		get readTool(){return this.$$('read-tool')},
		_initReadTool(){
			if(this.root.querySelector('read-tool') === null){
				var readTool = document.createElement('read-tool');
				readTool.block=this;
				this.root.appendChild(readTool);
			}
			return this.root.querySelector('read-tool');
		},
		onReader(){
			this.readerIsReady=true;
			if(this.hasWaitingText){
				var text=this.hasWaitingText;
				delete this.hasWaitingText;
				this.readerSynth = this.reader(text);
				this.readerSynth.talk();
			}
		},
		read(text){
			if(text && text.length){
				if(this.readerIsReady){
					this.readTool.read(text);
				}else{
					this.hasWaitingText=text;
					this._initReadTool();
				}
			}
		}
	};
</script>
<dom-module id="read-tool">
	<template>
		<style>
			:host {
				display: none;
			}

			:host([is-ready]) {
				display: block;
			}

			h1,
			.buttons-wrapper {
				text-align: center;
			}

			.hidden {
				display: none;
			}

			#text,
			#log {
				display: block;
				width: 100%;
				height: 5em;
				overflow-y: scroll;
				border: 1px solid #333333;
				line-height: 1.3em;
			}

			.field-wrapper {
				margin-top: 0.2em;
			}

			.button-demo {
				padding: 0.5em;
				display: inline-block;
				margin: 1em auto;
			}
		</style>
		<div id="view">
			<div ng-if="" class="form">
				<label for="text">Text:</label>
				<textarea id="text"
				          name="talkModel"
				          ng-model="talk.text"
				          placeholder="Talk"
				          type="text"></textarea>
				<div id="options">
					<label for="voice">Voice:</label>
					<paper-dropdown-menu label="Voice">
						<paper-listbox class="dropdown-content">
							<template is="dom-repeat" items="[[voices]]" as="voice">
								<paper-item name$="[[voice.name]]">[[voice.name]]</paper-item>
							</template>
						</paper-listbox>
					</paper-dropdown-menu>
					<div class="field-wrapper">
						<label for="rate">Rate (0.1 - 10):</label>
						<input type="number" id="rate" min="0.1" max="10" step="0.1"/>
					</div>
					<div class="field-wrapper">
						<label for="pitch">Pitch (0.1 - 2):</label>
						<input type="number" id="pitch" min="0.1" max="2" step="0.1"/>
					</div>
					<div class="buttons-wrapper">
						<button id="button-speak-ss" ng-click="talk.speak($event)" class="button-demo">Speak</button>
						<button id="button-stop-ss" class="button-demo">Stop</button>
						<button id="button-pause-ss" class="button-demo">Pause</button>
						<button id="button-resume-ss" class="button-demo">Resume</button>
					</div>
				</div>
				<h3>Log</h3>
				<div id="log"></div>
				<button id="clear-all" class="button-demo">Clear all</button>
			</div>

			<!--<span >Speech API not supported in this browser</span>-->

		</div>
	</template>
	<script>

		Polymer({
			is: "read-tool",
			properties: {
				isReady: {type: Boolean, reflectToAttribute: true, value: false,observer:'_onIsReady'},
				voices:Array
			},
			_onIsReady(ready){
				if(ready === true){
					this.voices = this.controller.voices;
				}

			},
			reader(text){
				this.controller.text=text;
				return this.controller.synthesizer();
			},
			__ready(){
				var d = this;
				d.getElementById('button-stop-ss').addEventListener('click', function (event) {
					event.preventDefault();
					window.speechSynthesis.cancel();
					log.innerHTML = 'Speaker stopped' + '<br />' + log.innerHTML;
				});

				d.getElementById('button-pause-ss').addEventListener('click', function (event) {
					event.preventDefault();

					window.speechSynthesis.pause();
					log.innerHTML = 'Speaker paused' + '<br />' + log.innerHTML;
				});

				d.getElementById('button-resume-ss').addEventListener('click', function (event) {
					event.preventDefault();

					if (window.speechSynthesis.paused === true) {
						window.speechSynthesis.resume();
						log.innerHTML = 'Speaker resumed' + '<br />' + log.innerHTML;
					} else {
						log.innerHTML = 'Unable to resume. Speaker is not paused.' + '<br />' + log.innerHTML;
					}
				});

				d.getElementById('clear-all').addEventListener('click', function () {
					log.textContent = '';
				});
			},
			attached(){
				if (!('ReadToolController') in window) {
					loadScript('https://www.kindlesoftware.com/main/src/kindle-item/tools/read/read-controller.js').then(function () {
						this.controller = new ReadToolController(this);
					}.bind(this));
				}else{
					this.controller = new ReadToolController(this);
				}
			}
		})

	</script>
</dom-module>
