<template id="media-button">
	<style>
		@import "modules/wwi/component/design/gui.css";

		:host {
			--height:var(--h,34px);
			--width:var(--w,34px);
			will-change: filter, box-shadow;
			transition: filter 200ms linear, box-shadow 200ms ease;
			text-rendering: optimizeLegibility;
			font-weight: 400;
			background: var(--background, inherit);
			border: 1px solid #dedee5;
			border-radius: var(--radius,100px);
			box-sizing: border-box;
			cursor: pointer;
			font-size: 16px;
			min-height: var(--height);
			min-width: var(--width);
			max-height: var(--height);
			max-width: var(--width);
			outline: none;
			text-indent: -4px;
			text-align: center;
			position: relative;
			-moz-appearance: none;
			-webkit-appearance: none;
			z-index: 0;
		}
		:host(:hover) {
			box-shadow: 0 0 0 1px currentColor;
			z-index: 1;
		}
		:host([no-border]){  border: none;  }
		:host([no-border]:hover){  box-shadow: none;  }
		:host(:focus) {
			box-shadow: 0 0 0 1px currentColor;
			z-index: 1;
		}
		[view] {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
		}
		[view] > svg{
			height: var(--size,auto);
			width: var(--size,auto);
		}
		:host([disable]) {
			filter: saturate(0);
			opacity: 0.7;
		}
		:host-context(media-player){
			--w:26px;
			--h:26px;
			--size:20px;
			display: block;
			position: relative;
			z-index: 1000;
			padding-left:0;
			padding-right:0;
			margin:0;
		}
	</style>
	<div view gui horizontal center-center>
		<slot></slot>
	</div>

</template>

<script id="media-button">
	((doc) => {
		const Button = wwi.element(doc)
		const icons = fxy.require('media/icons')
		const button_state = Symbol.for('button state')
		const button_fill = Symbol.for('button fill color')
		Button(class extends Button.Element {
			constructor() {
				super({
					fill: true,
					iconName:true,
					icons: true
				})
			}

			changed(name, old, value) {
				switch (name) {
					case 'state':
						if (value) this.update_icon(value)
						break
					case 'iconName':
					case 'icon-name':
						if (value) this.update_icon(value)
						break
					case 'fill':
						if (fxy.is.text(value)) {
							this[button_fill] = value
							this.update_icon()
						}
						else delete this[button_fill]
						break
				}
			}

			connected() {
				this.kind = 'button'
				let icon_list = this.icon_list
				if (icon_list.length) this.state = icon_list[0]
				if(this.fill && this.icon) this.icon.setAttribute('fill', this.fill)
			}

			get icon() { return this.query('[view] svg') }

			get icon_list() {
				let list = 'icons' in this && fxy.is.text(this.icons) ? this.icons.split(',').map(icon => icon.trim()) : []
				if (list.length === 0 && this.id in icons) list.push(this.id)
				return list
			}

			get state() {return this[button_state]}

			set state(value) {
				if (value) {
					this[button_state] = value
					this.update_icon(value)
				}
				else if (fxy.is.nothing(value)) delete this[button_state]
				if(button_state in this && !fxy.is.symbol(value)) this.setAttribute('icon-state',value)
				else this.removeAttribute('icon-state')
				return this[button_state]
			}

			update_icon(name) {
				if (name) {
					if (name === fxy.symbols.disable) this.setAttribute('disable', '')
					else if (this.hasAttribute('disable')) this.removeAttribute('disable')
					if (name in icons) this.view.innerHTML = icons[name]
				}
				if (this.hasAttribute('fill')) {
					let icon = this.icon
					if (icon) {
						let state = this.state
						if (state === fxy.symbols.disable) icon.setAttribute('fill', 'rgba(0,0,0,0.2)')
						else icon.setAttribute('fill', this.fill)
					}
				}
			}
			get view() {return this.query('[view]')}
		})

	})(document)

</script>
