@import "../component/design/host.css";
@import "../component/design/app.css";

:host {

    --bar-height: 20px;
    --menu-sides-offset:14px;
    display: block;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    color:var(--app-text);
}

[app-drawer] {
    background: var(--drawer-background,var(--bar-color,whitesmoke));
    position: absolute;
    top: 40px;
    width: 260px;
    z-index: 10;
}



content-bar {
    --bar-text:var(--text);
    top: 0;
    color:var(--bar-text);
}

content-button[kind="item"] {
    --width: calc(100% - (var(--menu-sides-offset)*2) );
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 8px var(--menu-sides-offset) 5px var(--menu-sides-offset);
    background: var(--menu-item-background-color,whitesmoke);
    color: var(--menu-item-color);
    --focus-color: var(--menu-item-focus-color);
}

content-menu[grid] content-button[kind="item"]{
    font-size: 16px;
    --width:calc((100% - 27px) / 3);
    margin-left:4px;
    margin-right:4px;
}

