@import "../component/design/host.css";
[role="listbox"]{
    overflow:hidden;
    overflow-y:auto;
}
[role="listbox"] > a[role=option]{
    display: block;
    width: 100%;
    padding:8px;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border:1px solid transparent;
    color:var(--azul);
}
[role="listbox"] > a[role=option]:first-of-type{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
[role="listbox"] > a[role=option]:nth-child(even){
    background: rgba(255,255,255,1);
}
[role="listbox"] > a[role=option]:nth-child(odd){
    background: rgba(250,250,250,1);
}
[role="listbox"] > a[role=option]:last-of-type{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
[role="listbox"] > a[role=option]:hover{
    text-decoration: underline;
}
[role="listbox"] > a[role=option]:focus{
    border:1px dotted;
}
[role="listbox"] > a[role=option]:active{
    border:1px solid;
}
[role=listbox] > a[role=option][aria-selected="true"]{
    text-decoration: underline;
}