<script>
	(()=>{
		var curl = url.component('design/css/colors.css')
		app.cloud.doc(curl).then(doc=>{
			let colors = doc.regulate()
			colors.random = function(){
				let index = app.help.numbers.random(0,this.size-1)
				return Array.from(this.values())[index]
			}
			var currentCanvas = null
			var currentColor = null

			const angleTools = {
				getAngle: function (t, n) {
					var a = n.x - t.x, e = n.y - t.y;
					return Math.atan2(e, a) / Math.PI * 180
				}, getDistance: function (t, n) {
					var a = t.x - n.x, e = t.y - n.y;
					return Math.sqrt(a * a + e * e)
				}, moveOnAngle: function (t, n) {
					var a = this.getOneFrameDistance(t, n);
					t.x += a.x, t.y += a.y
				}, getOneFrameDistance: function (t, n) {
					return {x: n * Math.cos(t.rotation * Math.PI / 180), y: n * Math.sin(t.rotation * Math.PI / 180)}
				}
			}


			//---------shared actions-----------
			function letterify(e) {
				var x = e.clientX
				var y = e.clientY
				var c = document.createElement('canvas')
				currentCanvas = c;
				var ctx = c.getContext('2d')
				var ratio = window.devicePixelRatio * 0.75
				var text = ''
				var particles = []
				if (e.currentTarget) {
					text = e.currentTarget.textContent
					currentColor = e.currentTarget.eventColor
					if (!currentColor) currentColor = e.currentTarget.color
					if (!currentColor) currentColor = e.currentTarget.getAttribute('event-color')
					if (!currentColor) currentColor = e.currentTarget.style.backgroundColor
					if (!currentColor) currentColor = e.currentTarget.getAttribute('color')
					if (!currentColor) currentColor = e.currentTarget.style.color
					if (!currentColor) currentColor = e.currentTarget.style.background
					if (!currentColor) currentColor = "#FF0000"
				}
				document.body.appendChild(c)
				text = text.replace(/ /g,'')

				let size = 500
				c.style.position = 'absolute'
				c.style.left = (x - (size/2)) + 'px'
				c.style.top = (y - (size/2)) + 'px'
				c.style.pointerEvents = 'none'
				c.style.width = size + 'px'
				c.style.height = size + 'px'
				c.width = size * ratio
				c.height = size * ratio
				for (var i = 0; ++i < 35;) { particles.push(Particle(c)) }

				var current_letter = 0
				function get_text(i){
					var l
					if(current_letter < text.length){}
					else current_letter = 0
					l = text[current_letter]
					current_letter++
					return l
				}

				function render() {
					ctx.clearRect(0, 0, c.width, c.height)
					particles.forEach(function (p, i) {
						angleTools.moveOnAngle(p, p.speed)
						//					p.opacity -= 0.01
						p.speed *= p.friction
						p.radius *= p.friction
						p.yVel += p.gravity
//						p.xVel += p.gravity
						p.y += p.yVel
//						p.x += p.xVel
//						if (p.opacity < 0) return
						if (p.radius < 0) return
						ctx.beginPath()
						//					ctx.globalAlpha = p.opacity
						ctx.fillStyle = colors.random()
						ctx.arc(p.x, p.y, p.radius, 0, 2 * Math.PI, false)
						ctx.font = `${app.help.numbers.random(5,45)}px Arial`;
						ctx.fillText(get_text(),p.x,p.y)
						ctx.fill()
					})
				}

				(function renderLoop() {
					requestAnimationFrame(renderLoop)
					render()
				})()
				setTimeout(function () {
					document.body.removeChild(c)
					currentCanvas = null;
				}, 3000)
			}

			function Particle(c) {
				return {
					x: c.width / 2,
					y: c.height / 2,
					radius: app.help.numbers.rand(1,25),
//					color: 'rgb(' + [r(0, 255), r(0, 255), r(0, 255)].join(',') + ')',
					rotation: r(0, 360, true),
					speed: r(8, 12),
					friction: 0.95,
//					opacity: r(0, 0.5, true),
					yVel: 0,
//					xVel: 0,
					gravity: app.help.numbers.rand(-0.1,0.5)
				}
			}

			function r(a, b, c) {
				return parseFloat((Math.random() * ((a ? a : 1) - (b ? b : 0)) + (b ? b : 0)).toFixed(c ? c : 0))
			}

			fxy.require('element/pointer').set('letterify',letterify)


		}).catch(console.error)
	})()
</script>