<template id="data-repeat">
    <slot id="template"></slot>
</template>
<script>
    (function(doc){

        const DataRepeat = wwi.element(doc).extension({
            module:'data',
            name:'template'
        })

        DataRepeat(class extends DataRepeat.Element{
        	constructor(){
        		super('routes',{
        			items(items){
        				if(fxy.is.object(items)) this.add_items(items)
                        else if(fxy.is.json(items)) this.add_items(JSON.parse(items))
			        }
		        })
	        }
            add_items(items){

	        	let type = fxy.is.array(items) ? 'array':(fxy.is.data(items)?'data':'nothing')
                let template_items = []
                let data_name = this.getAttribute('data-name')
                switch(type){
                    case 'array':
	                    template_items = items.map((item,i)=>get_item(get_item_name(item,i),item,data_name)).filter(item=>item!==null)
                        break
                    case 'data':
                    	for(let name in items) template_items.push(get_item(name,items[name],data_name))
                    	break
                }
                return template_items.map(item=>this.template.item(...item))

            }
        })

        function get_item_name(item,i){
	        if(fxy.is.data(item) && 'name' in item) return item.name
	        return `item-${i}`
        }

        function get_item(name,item,data_name){
	        if(fxy.is.text(name) && fxy.is.data(item)) return [name,item,data_name]
	        return null
        }


    })(document)
</script>
